<html>
<head>
<title> NameDeck </title>
<link rel = 'stylesheet' type = 'text/css' href = 'style.css'>
</head>
<body>
	<h1>You are correct!</h1>
	<a href="/test" class="button">Next Person</a>
</body>
</html>