<h2><a href="/test">Quiz Me</a>
<div id = 'container'>

<% bootcamp.deckpeople.shuffle.each do |person| %>

<div class = 'pic'>
	<div class = 'info suitdiamonds'>
	<br>
	<%= person.name %> 
		<div class = "description"> 
		<%= person.description %>
		</div>
	</div>
	<div class = 'picture' style = "background-image: url(<%= person.url %>);"> 
	</div>
</div>
	<% end %>
</div>