<div class = "quizcontainer">

<a style="text-align: center;" class = "button" href="/test">Quiz Me</a>

</div>

<div id = 'container'>

<% bootcamp.deckpeople.shuffle.each do |person| %>

<div class = 'pic'>
	<div class = 'info suitdiamonds'>
	<br>
	<%= person.name %> 
	<br>
		<span class = "description"> 
		<%= person.description %>
		</span>
	</div>
	<div class = 'picture' style = "background-image: url(<%= person.url %>);"> 
	</div>
</div>
	<% end %>
</div>