<h2> Choose your deck.</h2>
<div class="quizcontainer">
<a href="/display"><div class="gallerycard suitdiamonds">
<h3>Tech Bootcamp</h3>
</div></a>
<a href="#"><div class="gallerycard suitspades">
<h3>Coworkers</h3>
</div></a>
<a href="/fellowsdisplay"><div class="gallerycard suitdiamonds">
<h3>YEI Fellows</h3>
</div></a>
</div>