<h1>You entered: <%= nameinput %>.</h1>
<% person = bootcamp.deckpeople.find{|person| person.name == correctname } %>
<form method = "post" action = "/test">
	<img src = <%= person.url %> height = "400px"> 
	<input type = "hidden" name = "correctname" value = "<%= person.name %>">
	<input type = "text" name = "nameinput" placeholder="What's my name?" size = "55px"><br>
	<input type = "submit" value = "Submit">
</form>
<form>
	<input name="category" type="button" value="I give up. Show me the name." onclick="toggle_visibility('actualname');">
</form>

<p id='actualname' style="display: none"> <%= correctname %> </p>