<html>
<head>
<title> NameDeck </title>
<link rel = "stylesheet" type = "text/css" href = "/style.css">
<link href='http://fonts.googleapis.com/css?family=Oranienbaum' rel='stylesheet' type='text/css'>
</head>
<body>
<h1> NameDeck </h1>
<a href="/newdeck"><div class="card suitdiamonds">
  <p>CREATE A NEW DECK</p>
</div></a>
<a href="/gallery"><div class="card suitdiamonds">
  <p>VIEW OLD DECKS</p>
</div></a>
</body>

</html>