<html>
<head>
<title> NameDeck </title>
<link rel = 'stylesheet' type = 'text/css' href = 'style.css'>
</head>
<body>

<h1> NameDeck </h1>
<a href="/newdeck">Create New Deck</a>
<a href="/gallery">View Old Decks</a>
</body>