<html>
<head>

</head>
<body>
	<form name="input" action="/new" method="post">
		<label>
			Set name: <br>
			<input type="text" name="setname" placeholder="set name">
		</label>
		<br>
		<label>
			Set description: <br>
			<textarea name="setdescription"></textarea>
		</label>
		<div class="personinput">
		<label>
			Name: <br>
			<input type="text" name="name" placeholder="name">
		</label>
		<label><br>
			Description<br>
			<textarea name ="description"></textarea>
		</label>
		<label>
			<br>
			Photo Url<br>
			<input type="text" name="photourl" placeholder="photo url">
		</label>
		</div>
		<input type="submit" value="Submit">
	</form>
</body>