<html>
<head>

</head>
<body>
	<form name="input" action="/newdeck" method="post">
		<label>
			Deck name: <br>
			<input type="text" name="deckname" placeholder="deck name">
		</label>
		<br>
		<label>
			Deck description: <br>
			<textarea name="deckdescription"></textarea>
		</label>
		<input type="submit" value="Submit">
	</form>
</body>