<form name="input" action="/newperson" method="post">
	<div class="personinput">
	<label>
		Name: <br>
		<input type="text" name="name" placeholder="name">
	</label>
	<label><br>
		Description<br>
		<textarea name ="description"></textarea>
	</label>
	<label>
		<br>
		Photo Url<br>
		<input type="text" name="photourl" placeholder="photo url">
	</label>
	</div>
	<input type="submit" value="Submit">
</form>