<html>
<head>
<title> NameDeck: Test </title>
<link rel = 'stylesheet' type = 'text/css' href = 'style.css'>
</head>
<body>

<h1> NameDeck Test </h1>

<img src = <%= randomperson.url %> height = "400px"> 

<form method = "post" action = "/test">
<input type = "hidden" name = "correctname" value = <%= randomperson.name %>>
<input type = "text" name = "nameinput" placeholder="What's my name?" size = "55px"><br>
<input type = "submit" value = "Submit">
</form>

</body>