.pic {
	position: relative;
	display: inline-block;
	width: 280px;
	height: 280px;
	margin: 20px 0px;
}

.picture:hover {
	opacity: 0;
}

.picture {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center center;
	border-radius: 20px;
}

.description {
}

#container {
	width: 900px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: center;
}