
* {margin: 0; padding: 0;}
body {
  background: #F0F0D8;
  font-size: 18px;
  font-family: 'Oldenburg', serif;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }

div {
  vertical-align:top; /* add this rule */
}

h1 {
	font-size: 100px;
  letter-spacing: -2px;
	text-align: center;
	font-family: 'Oldenburg', cursive;
	color: #D83030;
  font-weight: 400;
}

h3 {
  font-size: 45px;
  letter-spacing: -2px;
  text-align: center;
  font-family: 'Oldenburg', cursive;
  color: #909060;
  font-weight: 400;
}

a {
	text-decoration: none;
	color: black;

}

#header {
  background-color: #D8D8A8;
  border-bottom: 10px solid #909060;
  margin-bottom: 30px;
}
/*.card {
  
  position: relative;
  float: left;
  left: 35%;
  margin-right: 10px;
  width: 110px;
  height: 200px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  padding: 30px;
}

.card p {
  text-align: center;
  font-family: 'Oranienbaum', serif;
  font-size: 30px;
}*/

.suitdiamonds:before, .suitdiamonds:after {
  content: "♦";
  color: #ff0000;
}

.suitdiamonds:before, .suitdiamonds:after {
  content: "♦";
  color: #ff0000;
}
 
.suithearts:before, .suithearts:after {
  content: "♥";
  color: #ff0000;
}
 
.suitclubs:before, .suitclubs:after {
  content: "♣";
  color: #000;
}
 
.suitspades:before, .suitspades:after {
  content: "♠";
  color: #000;
}

div[class*='suit']:before {
  position: absolute;
  font-size: 35px;
  left: 5px;
  top: 5px;
}
 
div[class*='suit']:after {
  position: absolute;
  font-size: 35px;
  right: 5px;
  bottom: 5px;
}

.gallerycard.suitdiamonds:before {
  position: absolute;
  font-size: 35px;
  left: 10px;
  top: 15px;
}
 
.gallerycard.suitdiamonds:after {
  position: absolute;
  font-size: 35px;
  right: 10px;
  bottom: 15px;
}

.gallerycard.suitspades:before {
  position: absolute;
  font-size: 35px;
  left: 10px;
  top: 15px;
}
 
.gallerycard.suitspades:after {
  position: absolute;
  font-size: 35px;
  right: 10px;
  bottom: 15px;
}


.pic {
	position: relative;
  display: inline-block;
	width: 180px;
	height: 240px;
	margin: 20px;  
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/*contains both front and back of card in gallery */
.pic div {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.pic:hover {
	transform: rotateY( 180deg );
  -webkit-transform: rotateY(180deg);
}

/*front of card in gallery*/
.picture {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center center;
	border-radius: 20px;
  z-index: 2;
}

/*back of card in gallery*/
.info {
	padding: 20px;
	border-radius: 20px;
  background-color: white;
  font-family: 'Oldenburg', cursive;
  text-align: center;
  width: 140px;
  height: 200px;
  -webkit-transform: rotateY(180deg);
  transform: rotateX( 180deg );
}

.description {
  padding: 6px;
  font-size: 15px;
}

#container {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: center;
  -webkit-perspective:2000;
  perspective:2000;
}
.quizcontainer {
  text-align: center;
}
/*.quizpiccontainer {
  width: 270px;
  height: 360px;
  margin: 20px;
  position: relative;
}
*/
.quizpic {
  margin: 20px auto;
  height: 360px;
  width: 270px;
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
  color: ;
}
input[type=text], textarea {
  background-color: #D8D8A8;
  font-size: 20px;
  border: 0;
  width: 270px;
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  color: #616B4B;
}
input[type=submit], input[type=button], .button {
  margin: 10px;
  font-size: 20px;
  border: 2px solid #909060;
  display: inline-block;
  background-color: #D8D8A8;
  border-radius: 5px;
  font-family: 'Oldenburg', serif;
  padding: 10px;
  color: #616B4B;
    transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
   -webkit-transition: all .25s ease-in-out;

}

input[type=submit]:hover, input[type=button]:hover, .button:hover {
  color: #D8D8A8;
  background-color: #909060;
  border: 2px solid #D8D8A8: 
}

.gallerycard {
  vertical-align: top;
  position: relative;
  display:inline-block; 
  width:190px; 
  height:250px; 
  border:1px solid #ccc; 
  background:#fff;
  color:#000; 
  text-decoration:none; 
  font:bold 17px/21px 'Oldenburg', sans-serif;
border-radius:10px;
-moz-border-radius:10px;
-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.1);
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.1);
padding: 20px;
margin: 20px 10px;
transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
-moz-transition: all 0.5s ease-in-out; /** Firefox **/
-o-transition: all 0.5s ease-in-out; /** Opera **/

}

.gallerycard h2 {
  margin-top: 60px;
}
.gallerycard:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1) ;
  transform: scale(1.1) ;
}

